# === Core Framework ===
fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings

# === Database ===
SQLAlchemy
psycopg2-binary
alembic

# === Authentication & Security ===
passlib[bcrypt]
python-jose[cryptography]
bcrypt
python-dotenv

# === Logging / Rate limit ===
loguru
slowapi

# === AI / CV dependencies ===
opencv-python
numpy
insightface==0.7.3
onnxruntime

# === Utils ===
requests
email-validator
# === System / AI backend dependencies ===
scipy
pandas
protobuf<4.0.0
